body {
	background: #2a2d32;
	color: white;
}

a {
	color: #00b0f4;
}

code, pre {
	background: rgba(0, 0, 0, 0.3);
}

.tsd-page-title {
	background: #202225;
}

.tsd-page-toolbar {
	background: #202225;
	border-bottom: 1px solid black;
}

.tsd-page-toolbar a {
	color: #f6f6f7;
}

.title {
	padding: 10px 0 10px 0;
}

@media(max-width: 900px) {
	html.default .col-menu {
		background: #202225;
	}
}

.tsd-widgets, .tsd-page-toolbar {
	color: #f6f6f7;
}

#tsd-filter .tsd-filter-group {
	background: #202225;
}

.tsd-widget.active {
	background: #2a2d32;
}

.tsd-select .tsd-select-list li, .tsd-select .tsd-select-list li:nth-child(even) {
	background: #202225;
}

.tsd-select .tsd-select-list li:hover {
	background: #2a2d32;
}

.tsd-widget::before, .tsd-select .tsd-select-label::before, .tsd-select .tsd-select-list li::before {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

#tsd-search.has-focus {
	background: #2a2d32;
}

#tsd-search .field input {
	color: #f6f6f7;
	top: 0;
	padding: 10px;
}

#tsd-search .results li, #tsd-search .results li:nth-child(2n) {
	background: #202225;
}

#tsd-search .results li.current, #tsd-search .results li:hover {
	background: #2a2d32;
}

#tsd-search .results span.parent {
	color: #9c9c9c;
}

.tsd-navigation a {
	color: white;
}

.tsd-navigation.primary li {
	border-top: 1px solid #202225;
}

.tsd-navigation.primary > ul {
	border-bottom: 1px solid #202225;
}

.tsd-navigation.secondary li.current {
	border-left-color: #202225;
}

.tsd-navigation.secondary ul.current a {
	border-left-color: #202225;
}

.tsd-breadcrumb a {
	color: #9c9c9c;
}

.tsd-panel {
	background: #202225;
}

.tsd-panel > h1 {
	padding-bottom: 20px;
}

.tsd-sources {
	color: #9c9c9c;
}

.tsd-panel > h1, .tsd-panel > h2, .tsd-panel > h3 {
	border-bottom: 1px solid black;
}

.tsd-index-panel h3 {
	border-bottom: 1px solid black;
}

.tsd-signatures {
	border: 1px solid black;
}

.tsd-signature {
	border-color: black;
}

.tsd-signatures .tsd-signature.current {
	background-color: #2a2d32;
}

footer {
	background: #202225;
	border-top: 1px solid black;
}

footer.with-border-bottom {
	border-bottom: 1px solid black;
}

/* HighlightJS */

.hljs { display: inline-block; padding: 0.5em; background: black; color: white; }

.hljs-comment, .hljs-annotation, .hljs-template_comment, .diff .hljs-header, .hljs-chunk, .apache .hljs-cbracket { color: #6A9955; }

.hljs-keyword, .hljs-id, .hljs-built_in, .css .smalltalk .hljs-class, .hljs-winutils, .bash .hljs-variable, .tex .hljs-command, .hljs-request, .hljs-status, .nginx .hljs-title { color: #569cd6; }

.xml .hljs-tag { color: #569cd6; }
.xml .hljs-tag .hljs-value { color: #569cd6; }

.hljs-string, .hljs-title, .hljs-parent, .hljs-tag .hljs-value, .hljs-rules .hljs-value { color: #ce9178; }

.ruby .hljs-symbol { color: #ce9178; }
.ruby .hljs-symbol .hljs-string { color: #ce9178; }

.hljs-template_tag, .django .hljs-variable, .hljs-addition, .hljs-flow, .hljs-stream, .apache .hljs-tag, .hljs-date, .tex .hljs-formula, .coffeescript .hljs-attribute { color: #ce9178; }

.vhdl .hljs-literal { color: #ce9178; }

/* Unadjusted */

.hljs-phpdoc, .hljs-javadoc, .hljs-xmlDocTag { color: #808080; }

.ruby .hljs-string, .hljs-decorator, .hljs-filter .hljs-argument, .hljs-localvars, .hljs-array, .hljs-attr_selector, .hljs-pseudo, .hljs-pi, .hljs-doctype, .hljs-deletion, .hljs-envvar, .hljs-shebang, .hljs-preprocessor, .hljs-pragma, .userType, .apache .hljs-sqbracket, .nginx .hljs-built_in, .tex .hljs-special, .hljs-prompt { color: #2b91af; }

.vhdl .hljs-string { color: #666666; }
.vhdl .hljs-attribute { color: #00b0e8; }

.xml .hljs-attribute { color: #f00; }

