{{#if parent}}
    {{#with parent}}{{> breadcrumb}}{{/with}}
    <li>
        {{#if url}}
            <a href="{{relativeURL url}}">{{name}}</a>
        {{else}}
            <span>{{name}}</span>
        {{/if}}
    </li>
{{else}}
    {{#if url}}
        <li>
            <a href="{{relativeURL url}}">Modules</a>
        </li>
    {{/if}}
{{/if}}