<aside class="tsd-sources">
    {{#if implementationOf}}
        <p>Implementation of {{#with implementationOf}}{{> typeAndParent}}{{/with}}</p>
    {{/if}}
    {{#if inheritedFrom}}
        <p>Inherited from {{#with inheritedFrom}}{{> typeAndParent}}{{/with}}</p>
    {{/if}}
    {{#if overwrites}}
        <p>Overrides {{#with overwrites}}{{> typeAndParent}}{{/with}}</p>
    {{/if}}
    {{#if sources}}
        <ul>
            {{#each sources}}
                {{#if url}}
					{{#if npmPackage}}
                    	<li>Defined in <a target="_blank" href="{{url}}">{{fileName}}:{{line}}</a> ({{npmPackage}})</li>
					{{else}}
						<li>Defined in <a target="_blank" href="{{url}}">{{fileName}}:{{line}}</a></li>
					{{/if}}
                {{else}}
                    <li>Defined in {{fileName}}:{{line}}</li>
                {{/if}}
            {{/each}}
        </ul>
    {{/if}}
</aside>